[Desktop Entry]
Version=1.0
Name=ModelSim-Intel FPGA Starter Edition
Comment=ModelSim simulation software for Intel FPGAs
Exec=/workspace/intelFPGA/20.1/modelsim_ase/bin/vsim -gui -l /dev/null
Icon=/workspace/intelFPGA/20.1/modelsim_ase/modesim.gif
Terminal=false
Type=Application
Categories=Development
